@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

body {
    background-image: url(https://i.pinimg.com/originals/dd/8a/af/dd8aaf02bdb1fc5919242f97bd548860.gif);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;    
}

/*start header*/
.header{
    display: flex;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.219);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.header h1 {
   color: #fff;
   padding: 10px 20px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    gap: 15px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    text-decoration: underline;
    color: #8dffe6;
}

/*end header*/

.body-input {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.box-input {
    width: 30%;
    height: 74%;
    background: rgba(235, 7, 7, 0.219);
    backdrop-filter: blur(15px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.box-input h1 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 32px;
    padding: 30px 0px;
}

.box-input .input {
    width: 65%;
    height: 50px;
    margin: 20px 0;
    margin-left: 70px;
}

.input input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-bottom: solid 3px #fff;
    background: transparent;
    color: #fff;
    font-size: 16px;
}

.input input::placeholder {
    color: #fff;
}

.box-input .checkbox {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.checkbox span {
    color: #fff;
    font-size: 16px;
}

.checkbox a {
    color: #fff;
}

.checkbox a:hover {
    text-decoration: none;
}


.body-input button {
    width: 65%;
    height: 50px;
    margin: 10px 70px;
    outline: none;
    border: none;
    font-size: 32px;
    border-radius: 25px;
    background: #fff;
    cursor: pointer;
}

.body-input button:hover {
    background: #ffffff81;
}

.body-input .Login {
    display: inline-block;
    color: #fff;
    translate: 150px 0;
    text-decoration: none;
}

.body-input .Login:hover {
    text-decoration: underline;
}